version: '3.9'

services:
  web:
    build:
      context: .
    environment:
      RAILS_ENV: development
      DB_HOST: db
      DB_USERNAME: postgres
      DB_PASSWORD: password
      DB_NAME: app_development
      ENABLE_LETTER_OPENER_WEB: "true"
      PORT: 3000
      APP_URL: http://localhost:3000

      PROD_DB_HOST: db
      PROD_DB_USERNAME: app
      APP_DATABASE_PASSWORD: password123
      PROD_DB_NAME: app_production
      NEXT_PUBLIC_APP_URL: https://enhance-reading-app-morning-sound-6129.fly.dev
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      PRODUCTION_APP_URL: https://enhance-reading-app-morning-sound-6129.fly.dev

    volumes:
      - .:/rails
    ports:
      - "3000:3000"
    depends_on:
      - db
    tty: true
    stdin_open: true

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: app_development

      POSTGRES_USER_PROD: app
      POSTGRES_PASSWORD_PROD: password123
      POSTGRES_DB_PROD: app_production

    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  db_data:
