app = "enhance-reading-app-morning-sound-6129"
primary_region = "nrt"

[build]
  dockerfile = "Dockerfile"

[env]
  RAILS_ENV = "production"

[http_service]
  internal_port = 3000
  force_https = true
  auto_start_machines = true
  auto_stop_machines = "stop"

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
