<footer class="app-footer">
  <div class="page-container">

    <div class="footer-links">
      <p><%= link_to '利用規約', '/terms_of_service.html', class: 'footer-link' %></p>
      <p><%= link_to 'プライバシーポリシー', '/privacy_policy.html', class: 'footer-link' %></p>
    </div>

    <div class="footer-copy">
      © 2025 TOEIC長文トレーニング
    </div>

  </div>
</footer>
