<h1>設定</h1>
<p>
<%= link_to 'レベル設定変更', settings_level_path, class: 'block px-3 py-1.5 text-gray-700 hover:bg-gray-100' %>
<%= link_to '通知設定', settings_notification_path, class: 'block px-3 py-1.5 text-gray-700 hover:bg-gray-100' %>
<%= link_to 'アカウント情報変更', settings_account_path, class: 'block px-3 py-1.5 text-gray-700 hover:bg-gray-100' %>
</p>